{
  "presets": [
    ["es2015", { "modules": false }],
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["import", { "libraryName": "antd", "style": "css" }],
    "react-hot-loader/babel"
  ]
}